<div class="col-lg-10 col-xl-8 mx-auto">
  <div class="card shadow">
    <div class="card-header">
      <h4 class="card-tittle">Refund Requested Accepted</h4>
      </div>
      <div class="card-body">
       <h1>Greetings from Myproject!</h1>

       <h3>Hello <%= @customer.full_name %></h3>

       <p class="lead">This is to inform you that your refund request for <strong>
       <%= link_to @workshop.name, workshop_url(@workshop), target: '_blank' %>(
        order Number: <%= @booking.order_number %>) </strong> has been accepted. We
        Forwarded your request to our team and they will process your refund
        request within 24 hours and you will receive you money within 5-7 bussiness
        days in your account.</p>
       
       <p class="lead">Please find the refund details below</p>
       <hr>

       <h5>No . of tickets to be cancelled: <%= @refund.no_of_tickets %></h5>
       <h5>Refundable Amount: $ <%= @refundable_amount %></h5>
       <h5>booking for: <%= link_to @workshop.name, workshop_url(@workshop),
       target: '_blank'%></h5>
       </div>
       </div>
       </div>