<div class= "col-lg-10 mx-auto ">
<div class="card shadow" >
<div  class="card-header" >
<h4 class="card-title" >Booking Confirmation</h4>
</div>
<div class="card-body" >
<h1>Greeting from Myproject</h1>
<h3>Hello <%= @customer.full_name %></h3>

<p class="lead">Your Booking for <strong><%=@workshop.name   %> has been confirmed. Please find the booking details below. </strong></p>

<h3>Booking Details </h3>
<p><strong>No of Tickets</strong> <%= @booking.no_of_tickets %></p>
<p><strong>Amount Paid: </strong><%= @booking.amount_paid %></p>

<hr>

<h3>Workshop schedule</h3>
<h4> <span class="badge bg-primary">From <%= @workshop.total_duration%> 
</span></h4>
<h4> <span class="badge bg-primary"> From <%= @workshop.daily_duration %> 
</span></h4>
</div>
</div>
</div>
 